{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Welcome to Brain Bites</h1><br>
    <h2>What is brain bites?</h2><br>
    <p>Brain bites is a project designed to take long videos, and use the power of AI to create condensed, chaptered videos.</p><br>
    <h2>How do I use brain bites?</h2><br>
    <p>To explore different videos, use the navigation bar on the left, and click 'browse'. Find a topic to watch and enjoy!</p><br>
    <h2>Who made brain bites?</h2><br>
    <p>Brain bites is a project for the Inversity team challenge on improving education. It was made by Henry, Josh and Zaki.</p><br>
</div>
{% endblock %}